################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkoutTracker/WorkoutTracker/bin/Debug/netcoreapp2.1
